USE [master]
GO
/****** Object:  Database [BD_pizzeria]    Script Date: 19/11/2024 21:11:50 ******/
CREATE DATABASE [BD_pizzeria]
 /*CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BD_pizzeria', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BD_pizzeria.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BD_pizzeria_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BD_pizzeria_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT*/
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD_pizzeria].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BD_pizzeria]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 19/11/2024 21:11:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[ID_CATEGORIA] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [nvarchar](100) NOT NULL,
	[DESCRIPCION] [nvarchar](250) NULL,
	[ESTADO] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CATEGORIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 19/11/2024 21:11:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[ID_CLIENTE] [int] IDENTITY(1,1) NOT NULL,
	[NOMBREYAPELLIDO] [nvarchar](100) NOT NULL,
	[DIRECCION] [nvarchar](150) NULL,
	[TELEFONO] [nvarchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detalle_Pedido]    Script Date: 19/11/2024 21:11:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalle_Pedido](
	[ID_DETALLE_PEDIDO] [int] NOT NULL,
	[ID_PEDIDO] [int] NOT NULL,
	[ID_PRODUCTO] [int] NOT NULL,
	[CANTIDAD] [int] NOT NULL,
	[PRECIO] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Detalle_Pedido] PRIMARY KEY CLUSTERED 
(
	[ID_DETALLE_PEDIDO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedidos]    Script Date: 19/11/2024 21:11:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedidos](
	[ID_PEDIDO] [int] IDENTITY(1,1) NOT NULL,
	[ID_CLIENTE] [int] NULL,
	[CANTIDAD] [int] NOT NULL,
	[NRO_COMPROBANTE] [nvarchar](50) NOT NULL,
	[FECHA] [datetime] NOT NULL,
	[TOTAL] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PEDIDO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 19/11/2024 21:11:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[ID_PRODUCTO] [int] IDENTITY(1,1) NOT NULL,
	[ID_CATEGORIA] [int] NULL,
	[CODIGO] [nvarchar](50) NOT NULL,
	[NOMBRE] [nvarchar](100) NOT NULL,
	[PRECIO_VENTA] [decimal](10, 2) NOT NULL,
	[STOCK] [int] NOT NULL,
	[ESTADO] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categoria] ON 

INSERT [dbo].[Categoria] ([ID_CATEGORIA], [NOMBRE], [DESCRIPCION], [ESTADO]) VALUES (1, N'Aguas Saborisadas', N'Todas las aguas Saborisadas ', 1)
INSERT [dbo].[Categoria] ([ID_CATEGORIA], [NOMBRE], [DESCRIPCION], [ESTADO]) VALUES (2, N'Empanadas', N'Todos los tipos de Empanadas', 1)
INSERT [dbo].[Categoria] ([ID_CATEGORIA], [NOMBRE], [DESCRIPCION], [ESTADO]) VALUES (3, N'Pizzas', N'Todo tipo de Pizzas', 1)
SET IDENTITY_INSERT [dbo].[Categoria] OFF
GO
SET IDENTITY_INSERT [dbo].[Clientes] ON 

INSERT [dbo].[Clientes] ([ID_CLIENTE], [NOMBREYAPELLIDO], [DIRECCION], [TELEFONO]) VALUES (1, N'Andres Gonzalez', N'Barrio 129 Mza.244 Casa 9', N'2665036360')
INSERT [dbo].[Clientes] ([ID_CLIENTE], [NOMBREYAPELLIDO], [DIRECCION], [TELEFONO]) VALUES (2, N'Elias Aguirre', N'Italia 1384', N'115558521')
SET IDENTITY_INSERT [dbo].[Clientes] OFF
GO
SET IDENTITY_INSERT [dbo].[Productos] ON 

INSERT [dbo].[Productos] ([ID_PRODUCTO], [ID_CATEGORIA], [CODIGO], [NOMBRE], [PRECIO_VENTA], [STOCK], [ESTADO]) VALUES (1, 1, N'100101', N'Agua Pomelo x 500 ML', CAST(1500.00 AS Decimal(10, 2)), 10, 1)
INSERT [dbo].[Productos] ([ID_PRODUCTO], [ID_CATEGORIA], [CODIGO], [NOMBRE], [PRECIO_VENTA], [STOCK], [ESTADO]) VALUES (2, 3, N'100102', N'Pizza Especial', CAST(2500.00 AS Decimal(10, 2)), 15, 1)
SET IDENTITY_INSERT [dbo].[Productos] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Producto__CC87E12636A4A600]    Script Date: 19/11/2024 21:11:51 ******/
ALTER TABLE [dbo].[Productos] ADD UNIQUE NONCLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Categoria] ADD  CONSTRAINT [DF_Categoria_ESTADO]  DEFAULT ((1)) FOR [ESTADO]
GO
ALTER TABLE [dbo].[Pedidos] ADD  DEFAULT (getdate()) FOR [FECHA]
GO
ALTER TABLE [dbo].[Productos] ADD  CONSTRAINT [DF_Productos_ESTADO]  DEFAULT ((1)) FOR [ESTADO]
GO
ALTER TABLE [dbo].[Detalle_Pedido]  WITH CHECK ADD  CONSTRAINT [FK_Detalle_Pedido_Pedidos] FOREIGN KEY([ID_PEDIDO])
REFERENCES [dbo].[Pedidos] ([ID_PEDIDO])
GO
ALTER TABLE [dbo].[Detalle_Pedido] CHECK CONSTRAINT [FK_Detalle_Pedido_Pedidos]
GO
ALTER TABLE [dbo].[Detalle_Pedido]  WITH CHECK ADD  CONSTRAINT [FK_Detalle_Pedido_Productos] FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[Productos] ([ID_PRODUCTO])
GO
ALTER TABLE [dbo].[Detalle_Pedido] CHECK CONSTRAINT [FK_Detalle_Pedido_Productos]
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD  CONSTRAINT [FK_Pedidos_Clientes] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[Clientes] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[Pedidos] CHECK CONSTRAINT [FK_Pedidos_Clientes]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_Categoria] FOREIGN KEY([ID_CATEGORIA])
REFERENCES [dbo].[Categoria] ([ID_CATEGORIA])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Productos_Categoria]
GO
USE [master]
GO
