<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BDConexion" connectionString="Data Source=NOB-0004312\SQLEXPRESS;Initial Catalog=BD_pizzeria;Integrated Security=True;TrustServerCertificate=True" />
    </connectionStrings>
</configuration>